* {
    
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
    padding: 0;
}
body {
    position: relative;
    background-color: salmon;
}

h1 {
    text-align: center;
    padding-top: 60px;
} 

h2,
p {
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.fixed-nav {
    width: 100%;
    position: fixed;
}

header
{
    height: 50px;
    background-color: rgb(214, 61, 44);
    border-bottom: 5px solid black;
}
ul {
    text-align: right;
    padding: 15px;
}
li {
    padding: 30px;
    display:inline;
    
    }
figcaption {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

main {
    background-color: salmon;
    border-bottom: 50px solid rgb(227, 121, 109);
    border-top: 10px solid rgb(227, 121, 109);
    padding: 60px 0;
}

img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 2px solid rgb(204, 58, 41);
    
}
figure{
    margin-bottom: 40px;
    padding: 20px;
}
section{
    padding: 20px 10px 40px 10px;
    background-color: rgb(227, 121, 109);
    border-top: 3px solid black;
}
form {
    display: block;
    margin: 0 auto;
    width: 300px;
}
footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(214, 61, 44);
    border-bottom: 5px solid black;
    line-height: 60px;
    border-top: 3px solid black;
}
button {
    height: 40px;
    width: 120px;
    display: block;
    margin: 0 auto;
    background-color: #4F4846;
    color: aliceblue;
}
.text-right{
    text-align: right;
}